[submodule "ubuntu"]
	path = ubuntu
	url = https://github.com/Li-Yaosong/ubuntu.git
	branch = main
[submodule "qt"]
	path = qt
	url = https://github.com/Li-Yaosong/qt.git
	branch = main
[submodule "game/steamcmd"]
path = game/steamcmd
	url = https://github.com/Li-Yaosong/steamcmd.git
	branch = main
[submodule "game/palworld-server"]
	path = game/palworld-server
	url = https://github.com/Li-Yaosong/palworld-server.git
	branch = main
